
@import './date-picker';
@import './pagination';
.main-slidebar {
    .sidebar-menu {
        cursor: pointer;
    }
}


.date_selector {
    left: 0!important;
    top: 35px!important;
    width: 270px;
}

.classmate-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    .classmate-items-primary {
      
  
    }
}
.lf{
    position: relative;
    left:80%;
    margin-bottom: 15px
}
.outputMine{
    position: absolute;
    z-index: 99;
    width: 50%;
}