<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu" > 
            <li data-route="/home" class="treeview">
              <a href="#">
                <i class="fa fa-dashboard"></i> <span>个人中心</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                  <li class="router-link" data-route="/home" ><a ><i class="fa fa-circle-o"></i>同学录首页</a></li>
              </ul>
            </li>
            <li data-route="/classmate" class="treeview">
              <a href="#">
                <i class="fa fa-dashboard"></i> <span>班级信息</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li class="router-link" data-route="/classmate/items"><a ><i class="fa fa-circle-o"></i>同学录</a></li>
                <li class="router-link" data-route="/classmate/photo"><a ><i class="fa fa-circle-o"></i>班级相册</a></li>
              </ul>
            </li>
            <li data-route="/activity" class="treeview">
              <a href="#">
                <i class="fa fa-dashboard"></i> <span>班级活动</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li class="router-link" data-route="/activity/chat"><a ><i class="fa fa-circle-o"></i>进入聊天室</a></li>
              </ul>
            </li>
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>