
<div class="box movie-items">
    <div class="box-header with-border">
      <h3 class="box-title"></h3>
  
      <!-- <div class="box-tools">
        <div class="input-group input-group-sm" style="width: 150px;">
          <input type="text" id="table-search" name="table_search" class="form-control pull-right" placeholder="Search">
  
          <div class="input-group-btn">
            <button type="button" id="search-btn" class="btn btn-default"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div> -->
    </div>

    <!-- /.box-header -->
    <div id="class-items-content" class="box-body table-responsive no-padding">
      
    <!-- /.box-body -->
  </div>
  <div class="box-footer clearfix zxf_pagediv" id="classmate-items-pagination">

    </div>
</div>