<section class="content">
  <button type="button" class="btn lf btn-primary btn-lg" id="mine">我的朋友圈</button>
  <div class="outputMine hide">
    <div class="box box-primary">
      <form role="form" id="publish-form">
        <div class="box-body">
          <div class="form-group">
            <textarea id="text-content" class="form-control" rows="3" placeholder="..." ></textarea>
          </div>
          <div class="form-group">
            <label for="item-title">照片</label>
            <button type="button" class="btn btn-primary img-btn" id="toClick">上传</button>
            <input type="file" class="hidden" id="item-img" accept="image/*">
            <img class="img-responsive pad hide" id='photo'width=20%  alt="Photo">
          </div>
        </div>
        <div class="box-footer">
          <button type="submit" class="btn btn-primary" id="sure">确定</button>
        </div>
      </form>
    </div>
  </div>
  <!-- row -->
  <div class="row"></div>
  <div class="col-md-12">
    <!-- The time line -->

    <ul class="timeline">
      <!-- timeline time label -->
      {{each info}}
      <!-- timeline item -->
      <li>
        <div class="timeline-item">
          <h3 class="timeline-header"><a href="#/classmate/items">{{$value.name}}</a></h3>
          <div class="timeline-body">
            <div class="box-body">
              {{if $value.src}}
              <img class="img-responsive pad" width=20% src="{{$value.src}}"
                alt="Photo">
                {{/if}}
              <p>{{$value.text}}</p>
            </div>
          </div>
   
        </div>
      </li>
      {{/each}}
      <!-- END timeline item -->
    </ul>
  </div>
  <!-- /.col -->
  </div>
  <!-- /.row -->
</section>