<!-- DIRECT CHAT -->
<div class="box box-warning direct-chat direct-chat-warning">
  <div class="box-header with-border">
    <h3 class="box-title">Direct Chat</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <!-- Conversations are loaded here -->
    <div class="direct-chat-messages">
      <!-- Message. Default to the left -->
     
    </div>
    <!-- /.direct-chat-pane -->
  </div>
  <!-- /.box-body -->
  <div class="box-footer">
    <form action="#" method="post" onkeydown="if(event.keyCode==13){return false;}"> 
      <div class="input-group">
        <input type="text"id='message' name="message" placeholder="Type Message ..." class="form-control" AUTOCOMPLETE="off">
        <span class="input-group-btn">
          <button type="button" id="send"class="btn btn-warning btn-flat">Send</button>
        </span>
      </div>
    </form>
  </div>
  <!-- /.box-footer-->
</div>
<!--/.direct-chat -->
</div>
<!-- /.col -->


</div>